<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Section Detail</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<form action="/UpdateSection" method="post" enctype="multipart/form-data" name="secdetail">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="500" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="500" border="0" cellspacing="0" cellpadding="10">
        {% for row in section %}
          <tr>
            <td width="150" align="right">Section Number :: </td>
            <td>
              {{ row[0] }}<!-- <input type="text" name="section_number" id="section_number" value="{{ row[0] }}"> -->
            </td>
          </tr>
          <tr>
            <td width="150" align="right">Teacher Name ::</td>
            <td>
              {{ row[1] }}<!-- <input type="text" name="teacher" id="teacher" value="{{ row[1] }}"> -->
            </td>
          </tr>
          <tr>
            <td width="150" align="right">Capacity ::</td>
            <td>
              {{ row[2] }}<!-- <input type="text" name="capacity" id="capacity" value="{{ row[2] }}"> -->
            </td>
          </tr>
        {% endfor %}
        </table></td>
      </tr>
      <tr>
        <td>
        <div style="margin-top:10px; margin-bottom:10px;" >
        <table width="900" border="0" align="center" cellpadding="5" cellspacing="0">
          <tr bgcolor="#FFC200" class="font1">
            <td width="250" align="center" bgcolor="#FFFF66">Day</td>
            <td width="250" align="center" bgcolor="#FFFF66">Time</td>
            <td width="150" align="center" bgcolor="#FFFF66">Room</td>
            <td align="center" bgcolor="#FFFF66">&nbsp;</td>
          </tr>
          {% for row in time %}
          <tr>
            <td width="150" align="center" bgcolor="#FFFFCC">{{ row[1] }}</td>
            <td align="center" bgcolor="#FFFFCC">{{ row[2] }}</td>
            <td align="center" bgcolor="#FFFFCC">{{ row[3] }}</td>
            <td align="center" bgcolor="#FFFFCC"><a href="/DeleteSectime?course_id={{ course_id }}&section_number={{ section_number }}&section_id={{ section_id }}&type_log=1&sectime_id={{ row[0] }}">Delete</a></td>
          </tr>
          {% endfor %}
        </table>
        </div>
        </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="right"><table width="800" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left"><a href="/AddSectime?course_id={{ course_id }}&section_number={{ section_number }}&section_id={{ section_id }}" class="font1"><input type="button" value="Add Time"></a></td>
          <td width="150" align="center">
            &nbsp;<!-- <input style="width:140px; height:30px;" type="submit" name="button" id="button" value="Submit" /> -->
          </td>
          <td width="150" align="center"><a href="/DetailSection?course_id={{ course_id }}&section_number={{ section_number }}&section_id={{ section_id }}">
            <input style="width:140px; height:30px;" type="button" value="Cancel" />
          </a></td>
        </tr>
      </table></td>
  </tr>
</table>
</form>
</body>
</html>
